{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-12 mb-4">
            <div class="card bg-yellow-100 border-0 shadow">
                <div class="card-header d-sm-flex flex-row align-items-center flex-0">
                    <div class="d-block mb-3 mb-sm-0">
                        <h2 class="h6 text-gray-400 mb-0">Line Graph</h2>
                        <h3 class="fw-extrabold mb-2">Flood tweets against timeline</h3>
                    </div>
                </div>
                <div class="card-body">
                    <img class="rounded" alt="Image placeholder" src="/static/assets/flood-trend.png">
                    <div class="small mt-2"> 
                        <span class="fw-normal me-2">Pulling tweets from Twitter on the duration of 2 weeks since 25th December last year, we can see a
                            spike during Christmas. The second wave of flood hit during that period of time, causing more users to post updates. MOF Malaysia
                            also announced the allowance of RM 1,000 per household on that week and Twitter users are venting their frustrations on the aid provided
                            by our government. Users are also pinpointing on how the government has come to aid in comparison to how other individuals and the opposition 
                            has come to aid immediately on the field. Another gradual spike in the first week of this year is because the floods started to worsen once again
                            with heavy rains over several states like Pahang, Johor, Melaka and Kelantan. 
                        </span>    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">Word Cloud</h2>
                                <h3 class="fw-extrabold mb-2" style="border-bottom: 0.0625rem solid rgba(17, 24, 39, 0.125);
                                padding-bottom: 20px;">Most Mentioned Location</h3>
                                <img class="rounded" alt="Image placeholder" src="/static/assets/wc-location.png" style="width: 100%;">
                                <div class="small mt-2"> 
                                    <span class="fw-normal me-2">From the location analysis, we can see Shah Alam frequently mentioned in tweets by users
                                        because the flood has heavily hit this city in the first wave of floods especially at Taman Sri Muda. Next in line is 
                                        Segamat in Johor. The data restriction only allows us to deal more with the recent flood situation and thus, Segamat is 
                                        the worst hit city in the past two weeks. Klang is not far away because in the overall flood situation since 
                                        December 2021, Klang can be said to be the worst city in the country to be hit by the floods. Kuantan has also taken 
                                        its place amongst Twitter users given the bad floods hitting them earlier this year.
                                    </span>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">Word Cloud</h2>
                                <h3 class="fw-extrabold mb-2" style="border-bottom: 0.0625rem solid rgba(17, 24, 39, 0.125);
                                padding-bottom: 20px;">Most Mentioned Keyword</h3>
                                <img class="rounded" alt="Image placeholder" src="/static/assets/wc-word.png" style="width: 100%;">
                            </div>
                            <div class="small mt-2"> 
                                <span class="fw-normal me-2">From the word cloud, we see the frequently mentioned words mostly relate 
                                    to a single topic, which is to share the help needed for the flood victims via Twitter and get 
                                    volunteers and donations for items. The frustrations and update of situations is also equally much,
                                    but however most of the data is via images and will require image analysis for a better understanding
                                    on how we can actually have a better system to alert the people. The hashtag #rakyatjagarakyat and
                                    #benderaputih becomes trending once again during this flood situation, showing how united the people is 
                                    during times in need.
                                </span>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4">
            <div class="card bg-yellow-100 border-0 shadow">
                <div class="card-header d-sm-flex flex-row align-items-center flex-0">
                    <div class="d-block mb-3 mb-sm-0">
                        <h2 class="h6 text-gray-400 mb-0">Pie Chart</h2>
                        <h3 class="fw-extrabold mb-2">Political Party Mentioned in Tweets</h3>
                    </div>
                </div>
                <div class="card-body">
                    <img class="rounded" alt="Image placeholder" src="/static/assets/pc-party.png">
                    <div class="small mt-2"> 
                        <span class="fw-normal me-2">Over here, we provide a brief political analysis on which parties frequetly sparks discussion
                            amongst Twitter users, and as expected, mostly from our government due to frustrations or disappointment with what is 
                            being mentioned by our fellow politicians. PAS holds a big weight because of their comments on the flood situation being 
                            a religious issue and sheds responsibilities. Looking over to the blue side of the chart showing our ruling party, Barisan 
                            Nasional, mostly sparking discussions on how they only offer monetary aid, and doing their part on public relations on social 
                            medias, giving a fake impression. Lastly, we have our opposition party for instance DAP, PKR and not forgetting MUDA which 
                            came to aid of the flood victims as soon as possible in the early stages of the flood crisis.        
                        </span>    
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
